@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Montserrat:wght@200&family=Nunito:wght@300&family=Poppins:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');
.container {
    width: 100%;
    position: absolute;
    display: flex;      
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon {

    width: 350px;
    height: 480px;
    max-width: 350px;
    margin: 30px 20px;
    border-radius: 5px;
    border: 1px solid grey;
    box-shadow: 2px 1px 5px 1px rgba(94,94,94,0.75);
    -webkit-box-shadow: 2px 1px 5px 1px rgba(94,94,94,0.75);
    -moz-box-shadow: 2px 1px 5px 1px rgba(94,94,94,0.75);
    overflow: hidden;
    text-align: center;
    justify-content: center;
    transition: all 0.25s;
    cursor: pointer;

    img {
        height: 180px;
        width: 170px;
        // max-width: 180px;
        // max-height: 170px;
        padding-top: 10px;
    }

    &:hover {
        transform: translateY(-15px);
        box-shadow: 0 20px 18px rgba(0, 0, 0, 0.2);
    }

    h1 {
        padding-top: 10px;
        // font-family: 'Nunito', sans-serif;
        // font-family: 'Poppins', sans-serif;
        font-family: 'Syne Mono', monospace;
        color: rgb(90, 87, 87);
    }

    h2 {
        width: 80px;
        font-size: 18px;
        text-align: center;
        margin: 15px;
        font-family: 'Heebo', sans-serif;
        font-weight: 200px;
        padding: 8px 0;
        background: white;
        border-radius: 30px;
        margin-left: auto;
    }

    &__types {
        display: flex;
        justify-content: space-around;
        margin: 30px 0 10px 0;
        font-size: 20px;
        font-family: 'Be Vietnam Pro', sans-serif;
    
        span {
            padding: 5px 20px;
            border-radius: 20px;
            color: white;
        }
        
    }
    
    &__stats {
        display: flex;
        margin-top: 0.5rem;
        height: 100%;
        max-height: 250px;
        justify-content: space-around;

        h3 {
            font-size: 18px;
            line-height: 28px;
            margin: 20px;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
        }

        h1 {
            font-family: 'Montserrat', sans-serif;
        }

        .custom_1 {
            color: blue;
            font-size: 25px;
        }    

        .custom_2 {
            color: red;
            font-size: 25px;
        }    

        .custom_3 {
            color: green;
            font-size: 25px;
        }
    }    

}