


.search {

    width: 300px;
    margin: 30px auto;
    left: 50%;
    
    &__input &__btn {
        position: relative;
        display: inline-block;
        font-size: 20px;
    }
    
    &__input {
        font-family: 'Be Vietnam Pro', sans-serif;
        width: 200px;
        height: 30px;
        border: none;
        outline: none;
        padding: 0 25px;
        border-radius: 25px 0 0 25px;
    }
    
    &__btn {
        height: 30px;
        width: 50px;
        position: relative;
        background: skyblue;
        padding-left: -5px;
        border-radius: 0 25px 25px 0;
        border: none;
        outline: none;
        cursor: pointer;
        padding-left: 10px;
        
        &:hover {
            background: darken($color: skyblue, $amount: 15);
        }
    }
    
    &__icon {
        vertical-align: middle;
        padding-right: 5px;
        font-size: 15px;
    }

}

.search__container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}



